* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: rgb(8, 8, 8);
    position: fixed;
    width: 100%;
    color: white;
}

.logo {
    height: 90px;
}

.footer {
    background-color: rgb(8, 8, 8);
    color: white;
    padding: 20px;
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    width: 100%;
    height: 180px;
}

.terminos {
    font-size: 25px;
}

.principal {
    background-image: radial-gradient(circle 476px at 54.8% 51.5%, rgba(168, 229, 253, 1) 0%, rgba(244, 244, 254, 1) 42.3%, rgba(244, 244, 254, 1) 100.2%);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding-top: 170px;
    padding-bottom: 40px;
}
.principalnosotros {
    background-image: radial-gradient(circle 476px at 54.8% 51.5%, rgba(168, 229, 253, 1) 0%, rgba(244, 244, 254, 1) 42.3%, rgba(244, 244, 254, 1) 100.2%);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding-top: 170px;
    padding-bottom: 40px;
}

.subtitulo {
    color: rgba(44, 115, 210, 1);
}