* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: rgb(8, 8, 8);
    position: fixed;
    width: 100%;
    color: white;
}

.logo {
    height: 90px;
}

.footer {
    background-color: rgb(8, 8, 8);
    color: white;
    padding: 20px;
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    width: 100%;
    height: 160px;
}

.terminos {
    font-size: 25px;
}