* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: rgb(8, 8, 8);
    position: fixed;
    width: 100%;
    color: white;
}

.logo {
    height: 90px;
}

.footer {
    background-color: rgb(8, 8, 8);
    color: white;
    padding: 20px;
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    width: 100%;
    height: 160px;
}

.terminos {
    font-size: 25px;
}

*{
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}   

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background:#fff;
    font-family: 'poppins', sans-serif;
    flex-direction: column;
    gap: 20px;
}   

h1{
    font-size: 5em;
    color: #333;
    font-family: 'Courier New', Courier, monospace;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

h2{
    font-size: 2em;
    color:#151515;
}

p{
    font-size: 1.2em;
    color: #151515;
}

button{
    padding: 10px 20px;
    font-size: 1em;
    border: none;
    background: #39f206;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
    transition: backgroundd 0.3s ease;
}

button:hover{
    background: #2bb105;
}